*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url('background.jpg');
    background-size: cover;
}

h1 {
    width:100px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    
}

h2 {
    margin-top: 75px;
    padding: 10px; ;
    border: 1px solid #ccc;
    text-align: center;
    align-items: left;
}

.team {
    font-size: 16px;
      color: #333;
      margin-top: 80px;
      background-color: #ADD8E6;
}

p {
    margin-top: 50px; 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

nav {
   background-color: #ADD8E6;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  button {
    padding: 7px 15px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: purple;
  }

  form {
    margin-top: 200px;
    margin-left:400px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border-width:3px;
    border-style:solid;
    border-color: red;

 
    


  }
  
 